<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!--Mobile Websites-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AnalyzeMyForm</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/scroll-down.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	

	<link href="/css/style.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark sticky-top" style="background-color:#000000">
<div class="container-fluid">
	<a class="navbar-brand" href="index.html"><img src="/img/logo.png"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#" style="color:#ffffff">Home</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#" style="color:#ffffff">Team</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#" style="color:#ffffff">Getting Started</a>
			</li>
		</ul>
	</div>
</div>
</nav>

<!--- Image Slider -->
<!-- <section id="cover">
	<div class="cover-caption">
		<div class="container">
			<h1 class="display-3">Analyze my Form</h1>
			<h3>Video and Image Form Analysis</h3>
			

			<div class="cover-buttons">
				<button type="button" class="btn btn-outline-light">What's This?</button>
				<a href="/upload" class="btn btn-light" role="button"> Submit Source</a>
			</div>
		</div>
	</div>

</section> -->

<section id="cover">
	<div class="cover-caption">
		<h1 class="display-3">AnalyzeMyForm</h1>
		<h3>Video and Image Form Analysis</h3>
			

		<div class="cover-buttons">
			<a href="#section2" class="btn btn-outline-light ct-btn-scroll ct-js-btn-scroll" role="button" >What's This?</a>
			<a href="/upload" class="btn btn-light" role="button">Submit Source</a>
			<!-- <a href="/results" class="btn btn-light" role="button">Results</a> -->
		</div>
		<div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/anchor/company-hero2.jpg);">
      &nbsp;
   		</div>
	</div>

</section> 

<!-- //////////////// -->

<!--- Two Column Section -->
<div class="container-fluid padding mydopepad">
	<section id="section2">
		<h2>Providing the World's Most Valued Professional Training</h2>
		<p>Tired of expensive personal trainers? Are you new to working out and need world class advice? Or work out on your own time but still benefit from world class trainer advice? GymRat can analyze your workout videos and provide you with fast and accurate results that will lead you to a healthier future. Don't underestimate proper form and use GymRat today to prevent future</p> 
	</section>
</div>

<!--- Fixed background -->
<div class="container-fluid screenshotpad">
	<div class="row">
		<div class="col-md-6" align="center">
	  		<img src="/img/atest.png">
	  	</div>
		
		<div class="col-md-6" align="center">
	  		<img src="/img/atest.png">
		</div>
	</div>
</div>

<!--- Meet the team -->


<!--- Cards -->


<!--- Two Column Section -->


<!--- Connect -->


<!--- Footer -->


</body>
</html>
