<!DOCTYPE html>
<html>

  <head>
      <!-- Load TensorFlow.js -->
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.7"></script>
      <!-- Load Posenet -->
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet@0.1.2"></script>
      <!-- BootStrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
      <link href="/style2.css" rel="stylesheet">
  </head>

  <body>
      <img id='squat'/>
  </body>

  <script>
  
      var _img = document.getElementById('squat');
      var newImg = new Image;
      newImg.onload = function() {
        _img.src = this.src;
      }
      var imgPath = '<%= path %>'.substring(6);
      console.log(imgPath);
      newImg.src = imgPath;

      var imageScaleFactor = 0.5;
      var outputStride = 16;
      var flipHorizontal = false;

      var imageElement = document.getElementById('squat');

      posenet.load().then(function(net){
        return net.estimateSinglePose(imageElement, imageScaleFactor, flipHorizontal, outputStride)
      }).then(function(pose){
        console.log(pose);
      })

    </script>

</html>
