<!DOCTYPE html>
<html>

  <head>
      <!-- Load TensorFlow.js -->
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.7"></script>
      <!-- Load Posenet -->
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet@0.1.2"></script>
      <!-- BootStrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
      <link href="/css/style2.css" rel="stylesheet">
  </head>

  <script>
      var str = "";
      var _img = document.getElementById('squat');
      var newImg = new Image;
      newImg.onload = function() {
        _img.src = this.src;
      }
      var imgPath = '<%= path %>'.substring(6);
      console.log(imgPath);
      newImg.src = imgPath;

      var imageScaleFactor = 0.5;
      var outputStride = 16;
      var flipHorizontal = false;

      var imageElement = document.getElementById('squat');

      posenet.load().then(function(net){
        return net.estimateSinglePose(imageElement, imageScaleFactor, flipHorizontal, outputStride)
      }).then(function(pose){
        console.log(pose);

        left_wrist = new Array(pose.keypoints[9].position.x, pose.keypoints[9].position.y);
        left_ankle = new Array(pose.keypoints[15].position.x, pose.keypoints[15].position.y);

        // Get depth points
        left_knee = new Array(pose.keypoints[13].position.x, pose.keypoints[13].position.y);
        left_hip = new Array(pose.keypoints[11].position.x, pose.keypoints[11].position.y);

        return checkValues(left_wrist, left_ankle, left_hip, left_knee)
      });

      // Determine if points fall within margin of error
      function checkValues(left_wrist, left_ankle, left_hip, left_knee) {
        // Check bar and feet alignment
        if (Math.abs(left_wrist[0]-left_ankle[0]) > 15) {
          var str = "You need to align your bar with the middle of your feet for proper balance!";
          return str;     
        }
        else
        {
          // Check depth of motion
          if (left_hip[1]-left_knee[1] > 0) {
            var str = "You need to lower your hips below your knees for a full range of motion!";
            return str;
          }
        }
        var str = "You have good form!";
        return str;
      }
    </script>

  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <img id='squat'/>
          <script type="text/javascript">
            document.write(str)
          </script>
        </div>

        <div class="col">
          <div id="video-demo-container">
            <button id="upload-button">Select MP4 Video</button> 
            <input type="file" id="file-input" accept="video/mp4" />
            <video id="video-element" controls>
                <source type="video/mp4">
            </video>
            <canvas id="canvas-element"></canvas>
            <div id="thumbnail-container">
                 Seek to <select id="set-video-seconds"></select> seconds <a id="download-link" href="#">Download Thumbnail</a>
            </div>
          </div>
        </div>
      </div>
  </body>
  
</html>
