<!DOCTYPE html>
<html>
<body>
    <h1>Upload a photo</h1>
    <form id="theform" action="upload" method="POST" enctype="multipart/form-data">
        Name:<input type="text" name="item" class="thedata"><br>
        <br>
        Photo:<input type="file" name="uploaded_file" class="thefile">
        <button type="submit">Add photo</button>
    </form>   
</body>
</html>