<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Upload the File</title>
      <!-- Load TensorFlow.js -->
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.7"></script>
      <!-- Load Posenet -->
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet@0.1.2"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
      <link href="/css/style2.css" rel="stylesheet">
  </head>

  <body>
    <div class="center">

      <h1 class="text">Upload the Photo or Video</h1>
      <form id="theform" action="upload" method="POST" enctype="multipart/form-data" class="text">
        Photo:<input type="file" name="uploaded_file" class="thefile">
        <button type="submit">Add photo</button>
      </form>
      
    </div>
  </body>

</html>
