@import url('https://fonts.googleapis.com/css?family=Roboto');

@media (max-width: 992px) {

}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

body {
	background-color: #000000;
}

.text {
	color: #ffffff;

}

.center {
	text-align: center;
	padding-top: 300px;

}

.resultspad {
	font-size: 2em;
	color: #ffffff;
	padding-top: 100px;
}


.border-right {
    border-right: 20px solid white;
    padding-left: 10px;
}

.horizontal {
	display: flex;
	justify-content: center;
}

.vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

