@import url('https://fonts.googleapis.com/css?family=Roboto');

@media (max-width: 992px) {

}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

body {
	background-color: #000000;
}

.text {
	color: #ffffff;
}

.center {
	text-align: center;
	padding-top: 300px;

}

.resultspad {
	font-size: large;
	color: #ffffff;
}